/****
------ vars (solamente scss)
***/
/****
------ Estilos de texto;
****/
body {
  font-size: 16px; 
  background-image: "https://lorebucio.github.io/kouponera/assets/main_bg.png";

}

h1 {
  color: red;
  text-align: center; }

/****
----- Grid 
*****/
.grid-container {
  width: 100%;
  max-width: 1200px; }

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  /*-- gutter -- */
  padding: 12px;
  background-color: #FFDCDC; }

.col-1 {
  width: 16.66%; }

.col-2 {
  width: 33.33%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.66%; }

.col-5 {
  width: 83.33%; }

.col-6 {
  width: 100%; }

[class*='col-'] > p {
  padding: 0;
  margin: 0;
  text-align: center; }
